/*this file is created for a css file
Author : Dylan Mulders
Date : 13-11-2019
last edited : 13-11-2019 08:51
edit comments */


*{
	margin: 0;
	padding: 0;
}
html, body{               /*create the body of the html page*/
	width: 100%;          /*create the width of the body of the html page*/
	height: 100%;		/*create the height of the body of the html page*/
	font-size: 14px;	/*create the font-size of the body of the html page*/
	font-weight: normal;/*create the font-weight of the body of the html page*/
	background-color: gray; /*create the background-color of the body of the html page*/
}


.nav{				/*create the nav bar off the html page*/
	width: 400px;	/*set the width off the navbar in the html*/
	height: auto; 	/*set the height off the navbar in the html*/
	position: absolute;	/*set the position off the navbar in the html*/
	top: 20%;
	left: 0;
}
.nav a{				/*create the text in the navigation*/
	text-decoration: none;
	font-size: 23px;
	font-family: verdana;
	font-weight: bold;
	height: 100px;
	margin: 5px 0;
	display: inline-block;
	background-color: yellow;
	color: black;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}
a.active, .nav a:hover{  /*hover the text off the html*/
	background-color: yellow;
	color: black;
	width: 100%;
}
.a{
	width: 95%;
}
.b{
	width: 85%;
}
.c{
	width: 80%;
}
.d{
	width: 90%;
}

.content{			/*set the content page in the html file*/
	position: absolute;
	width: 930px;
	min-height: 500px;
	height: auto;
	/*background-color: red;*/
	right: 0;
	top: 10%;
}
.home{			/*create the home page in the html file*/
	position: absolute;
	right: 0;
	bottom: -50px;
	color: black;
	font-family: verdana;
}
.home h1{   	/*create a header in the html file*/
	font-size: 95px;
	padding-right: 90px;
	border-bottom: 1px solid black;
	text-transform: uppercase;
}
.home h3{			/*create a header in the html file*/
	font-size: 28px;
	padding: 5px 0;
	opacity: 0.6;
}





.contactus{ 	/*create a page for the html page */
	position: absolute;
	right: 0;
	top: 10px;
	color: white;
	padding: 0 60px;
	display: none;
	font-size: 15px;
}
.contactus a {
	font-size: 20px;
}



.labpage{		/*create a page for the html page */
	position: absolute;
	right: 0;
	top: 10px;
	color: white;
	font-family: century gothic;
	padding: 0 60px;
	display: none;
	font-size: 15px;
	

	
}
.labpage h1{		/*create a header in the page for the html page */
	
	text-align: center;
}

.aboutus{			/*create a  page for the html page */
	position: relative;
	right: 0;
	top: 10px;
	color: white;
	font-family: century gothic;
	padding: 0 60px;
	display: none;
	font-size: 20px;
	
}
.aboutus h1{				/*create a  page for the html page */
	text-align: center;
}




